<%- include("./partials/head.ejs") %>
</head>

<body>
  <%- include("./partials/side-nav.ejs") %>
  <div class="content">
    <%- include("./partials/header.ejs") %>
    <div class="content-title">
      <h2>Form</h2>
    </div>
    <!-- <h2>title TITLE</h2> -->
    <div class="frame-container">
      <div class="frame-title">
        <span>Document Stage Users</span>
      </div>
      <div class="frame-content">
        <div class="flex flex-wrap gap-y-4">
          <!-- status_types -->
          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <input
                id="firstname"
                class="lms-input"
                type="text"
                placeholder=""
                value=""
              />
              <label for="firstname" class="lms-placeholder"
                >Firstame <span>*</span></label
              >
            </div>
          </div>

          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <input
                id="lastname"
                class="lms-input"
                type="text"
                placeholder=""
                value=""
              />
              <label for="lastname" class="lms-placeholder"
                >Lastname<span>*</span></label
              >
            </div>
          </div>

          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <input
                id="username"
                class="lms-input"
                type="text"
                placeholder=""
                value=""
              />
              <label for="username" class="lms-placeholder"
                >Username<span>*</span></label
              >
            </div>
          </div>

          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <input
                id="email"
                class="lms-input"
                type="text"
                placeholder=""
                value=""
              />
              <label for="email" class="lms-placeholder"
                >Email<span>*</span></label
              >
            </div>
          </div>

          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <input
                id="description"
                class="lms-input"
                type="text"
                placeholder=""
                value=""
              />
              <label for="description" class="lms-placeholder"
                >Description<span>*</span></label
              >
            </div>
          </div>

          <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
            <div class="lms-input-container">
              <select id="document-stage" class="lms-dropdropdown">
                <option value="" disabled selected hidden>
                  Select Document Stage
                </option>
                <% documentStages.forEach((type, index)=> { %>
                <option value="<%= type.document_stage %>">
                  <%= type.document_stage %>
                </option>
                <% }) %>
              </select>
              <div class="lms-cut-dropdown"></div>
              <label for="type" class="lms-placeholder-dropdown"
                >Document Stage<span>*</span></label
              >
            </div>
          </div>

          <!-- button -->
          <div class="w-full px-2">
            <button
              id="submit-btn"
              type="submit"
              class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded w-full sm:w-auto"
            >
              Add +
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="frame-container">
      <div class="frame-title">
        <span>Document Stage Users</span>
      </div>
      <div class="frame-content">
        <div class="mx-auto bg-gray-50 rounded-lg shadow-md">
          <!-- Table Header -->
          <div
            class="flex justify-between items-center px-4 py-3 bg-blue-50 rounded-t-lg"
          >
            <h2 class="text-lg font-semibold text-gray-700">
              Document Stage Users Table
            </h2>
            <!-- <button class="text-sm font-semibold text-gray-600">02 Document</button> -->
          </div>

          <!-- Table -->
          <div class="responsive-table overflow-x-auto">
            <table class="min-w-full bg-white rounded-b-lg shadow">
              <thead class="text-left">
                <tr>
                  <th class="p-4 text-xs font-bold text-center">S.No</th>
                  <th class="p-4 text-xs font-bold">Firstame</th>
                  <th class="p-4 text-xs font-bold">Lastname</th>
                  <th class="p-4 text-xs font-bold">Email</th>
                  <th class="p-4 text-xs font-bold">Username</th>
                  <th class="p-4 text-xs font-bold">Document Stage</th>
                  <th class="p-4 text-xs font-bold">Description</th>
                  <th class="p-4 text-xs font-bold text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Row 1 -->
                <% users.forEach((type, index)=> { %>
                <tr
                  class="hover:bg-blue-50"
                  data-stage-user="<%= type.username %>"
                >
                  <td
                    class="p-4 text-sm text-gray-700 text-center font-semibold"
                  >
                    <%= index + 1 %>
                  </td>
                  <td class="p-4 text-sm text-gray-700">
                    <%= type.first_name %>
                  </td>
                  <td class="p-4 text-sm text-gray-700">
                    <%= type.last_name %>
                  </td>
                  <td class="p-4 text-sm text-gray-700"><%= type.email %></td>
                  <td class="p-4 text-sm text-gray-700">
                    <%= type.username %>
                  </td>
                  <td class="p-4 text-sm text-gray-700">
                    <%= type.document_stage %>
                  </td>
                  <td class="p-4 text-sm text-gray-700">
                    <%= type.description %>
                  </td>
                  <td class="p-4 text-center relative">
                    <button
                      onclick="toggleDropdown(event)"
                      class="focus:outline-none text-gray-600 px-4"
                    >
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>

                    <!-- Dropdown menu -->
                    <div
                      id="dropdown-0"
                      class="dropdown text-sm hidden absolute bottom-0 right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
                    >
                      <a
                        href="#"
                        class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center delete-btn"
                      >
                        <i class="text-red-500 fa-solid fa-trash-can"></i
                        ><span class="ml-2">Delete</span>
                      </a>
                    </div>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include("./home/loader.ejs") %> <%- include("./home/toaster.ejs") %>
  </div>

  <script
    src="https://kit.fontawesome.com/16de02e9e0.js"
    crossorigin="anonymous"
  ></script>
  <script src="<%- BASE_URL %>js/utils.js"></script>
  <script src="<%- BASE_URL %>js/fetch.js"></script>
  <script src="<%- BASE_URL %>js/validation.js"></script>

  <script>
    document
      .getElementById("submit-btn")
      .addEventListener("click", async () => {
        isLoader(true);
        const first_name = document.getElementById("firstname").value;
        const last_name = document.getElementById("lastname").value;
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const description = document.getElementById("description").value;
        const document_stage = document.getElementById("document-stage").value;

        const fields = [
          { value: first_name, name: "Firstname" },
          { value: last_name, name: "Lastname" },
          { value: username, name: "Username" },
          { value: email, name: "Email" },
          { value: description, name: "Description" },
          { value: document_stage, name: "Document Stage" },
        ];

        const checkVal = isRequired(fields);
        if (!checkVal) isLoader(false);

        if (checkVal) {
          const url = "<%- BASE_URL %>document-stage-users/create";
          const method = "POST";
          const obj = {
            first_name,
            last_name,
            email,
            username,
            description,
            document_stage,
          };

          const { error, data } = await fetchApi(url, method, obj);
          isLoader(false);

          if (error) {
            showAlert({
              alert: "error",
              message: error.message,
            });
            return;
          }

          if (data) {
            showAlert({
              alert: "success",
              message: data.message,
            });
            appendDataToTable({
              first_name,
              last_name,
              email,
              username,
              description,
              document_stage,
            });
            document.getElementById("firstname").value = "";
            document.getElementById("lastname").value = "";
            document.getElementById("username").value = "";
            document.getElementById("email").value = "";
            document.getElementById("description").value = "";
            document.getElementById(
              "document-stage"
            ).firstElementChild.selected = true;
          }
          console.log("data ", JSON.stringify(data));
        }
      });

    function appendDataToTable(data) {
      let tableBody = document.querySelector("tbody");
      let rowCount = tableBody.rows.length;

      let tableRow = document.createElement("tr");
      tableRow.innerHTML = ` <td class="p-4 text-sm text-gray-700 text-center font-semibold ">
                                                       ${rowCount + 1}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                       ${data.first_name}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        ${data.last_name}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        ${data.email}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        ${data.username}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                       ${data.document_stage}
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        ${data.description}
                                                    </td>
                                                    <td class="p-4 text-center relative">
                                                        <button onclick="toggleDropdown(event)"
                                                            class="focus:outline-none text-gray-600 px-4"><i
                                                                class="fa-solid fa-ellipsis-vertical"></i></button>

                                                        <!-- Dropdown menu -->
                                                        <div id="dropdown-0"
                                                            class="dropdown text-sm hidden absolute bottom-0 right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                                                            <a href="#"
                                                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center delete-btn">
                                                                <i class="text-red-500 fa-solid fa-trash-can"></i><span
                                                                    class="ml-2">Delete</span>
                                                            </a>
                                                        </div>
                                                    </td>`;
      tableRow.classList.add('"hover:bg-blue-50"');
      tableRow.setAttribute("data-stage-user", data.username);
      tableBody.appendChild(tableRow);
    }

    document.addEventListener("click", async function (event) {
      if (event.target.closest(".delete-btn")) {
        isLoader(true);
        const row = event.target.closest("tr");
        const username = row.getAttribute("data-stage-user");

        const url = "<%- BASE_URL %>document-stage-users/delete";
        const method = "POST";
        const obj = { username };

        const { error, data } = await fetchApi(url, method, obj);
        isLoader(false);

        if (error) {
          showAlert({
            alert: "error",
            message: error.message,
          });
          return;
        }

        if (data) {
          showAlert({
            alert: "success",
            message: data.message,
          });
          row.remove();
        }
      }
    });
  </script>
</body>
