<%- include("./partials/head.ejs") %>
    </head>

    <body>

        <%- include("./partials/side-nav.ejs") %>
            <div class="content">
                <%- include("./partials/header.ejs") %>

                    <div class="content-title">
                        <h2>Form</h2>
                    </div>
                    <!-- <h2>title TITLE</h2> -->
                    <div class="frame-container">
                        <div class="frame-title">
                            <span>Entity Types</span>
                        </div>
                        <div class="frame-content">
                            <div class="flex flex-wrap gap-y-4">

                                <!-- status_types -->
                                <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
                                    <div class="lms-input-container">
                                        <input id="entity-type" class="lms-input" type="text" placeholder="" value="">
                                        <label for="entity-type" class="lms-placeholder">Entity
                                            Type<span>*</span></label>
                                    </div>
                                </div>

                                <div class="mb-4 w-full sm:w-1/2 lg:w-1/4 px-2">
                                    <div class="lms-input-container">
                                        <input id="description" class="lms-input" type="text" placeholder="" value="">
                                        <label for="description"
                                            class="lms-placeholder">Description<span>*</span></label>
                                    </div>
                                </div>

                                <!-- button -->
                                <div class="w-full px-2">
                                    <button id="submit-btn" type="submit"
                                        class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded w-full sm:w-auto">
                                        Add +
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- table -->
                    <div class="frame-container">
                        <div class="frame-title">
                            <span>Entity Types</span>
                        </div>
                        <div class="frame-content">
                            <div class="mx-auto bg-gray-50 rounded-lg shadow-md">
                                <!-- Table Header -->
                                <div class="flex justify-between items-center px-4 py-3 bg-blue-50 rounded-t-lg">
                                    <h2 class="text-lg font-semibold text-gray-700">Entity Types Data</h2>
                                    <!-- <button class="text-sm font-semibold text-gray-600">02 Document</button> -->
                                </div>

                                <!-- Table -->
                                <div class="responsive-table overflow-x-auto">
                                    <table class="min-w-full bg-white rounded-b-lg shadow">
                                        <thead class="text-left">
                                            <tr>
                                                <th class="p-4 text-xs font-bold text-center">S.No</th>
                                                <th class="p-4 text-xs font-bold ">Entity Type Name</th>
                                                <th class="p-4 text-xs font-bold ">Description</th>
                                                <th class="p-4 text-xs font-bold text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Row 1 -->
                                            <% entityTypes.forEach((type, index)=> { %>
                                                <tr class="hover:bg-blue-50" data-entity-type="<%= type.entity_type %>">
                                                    <td class="p-4 text-sm text-gray-700 text-center font-semibold ">
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        <%= type.entity_type %>
                                                    </td>
                                                    <td class="p-4 text-sm text-gray-700 ">
                                                        <%= type.description %>
                                                    </td>
                                                    <td class="p-4 text-center relative">
                                                        <button onclick="toggleDropdown(event)"
                                                            class="focus:outline-none text-gray-600 px-4"><i
                                                                class="fa-solid fa-ellipsis-vertical"></i></button>

                                                        <!-- Dropdown menu -->
                                                        <div id="dropdown-0"
                                                            class="dropdown text-sm hidden absolute bottom-0 right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                                                            <a href="#"
                                                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center delete-btn">
                                                                <i class="text-red-500 fa-solid fa-trash-can"></i><span
                                                                    class="ml-2">Delete</span>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <script src="https://kit.fontawesome.com/16de02e9e0.js" crossorigin="anonymous"></script>
            <script src="../js/utils.js"></script>
            <script src="../js/fetch.js"></script>
            <script>

                document.getElementById('submit-btn').addEventListener('click', async () => {
                    const entity_type = document.getElementById('entity-type').value;
                    const description = document.getElementById('description').value;

                    const url = '/entity-types/create';
                    const method = 'POST';
                    const obj = { entity_type, description };

                    const data = await fetchApi(url, method, obj);

                    if (data) {
                        appendDataToTable({ entity_type, description });
                        document.getElementById('entity-type').value = '';
                        document.getElementById('description').value = '';
                    }
                    console.log('data ', JSON.stringify(data));
                });


                function appendDataToTable(data) {
                    let tableBody = document.querySelector('tbody');
                    let rowCount = tableBody.rows.length;

                    let tableRow = document.createElement('tr');
                    tableRow.innerHTML = `<td class="p-4 text-sm text-gray-700 text-center font-semibold ">
                                        ${rowCount + 1}
                                    </td>
                                    <td class="p-4 text-sm text-gray-700 ">
                                        ${data.entity_type}
                                    </td>
                                    <td class="p-4 text-sm text-gray-700 ">
                                        ${data.description}
                                    </td>
                                    <td class="p-4 text-center relative">
                                        <button onclick="toggleDropdown(event)"
                                            class="focus:outline-none text-gray-600 px-4"><i
                                                class="fa-solid fa-ellipsis-vertical"></i></button>

                                        <!-- Dropdown menu -->
                                        <div id="dropdown-0"
                                            class="dropdown text-sm hidden absolute bottom-0 right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                                            <a href="#"
                                                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center delete-btn">
                                                <i class="text-red-500 fa-solid fa-trash-can"></i><span
                                                    class="ml-2">Delete</span>
                                            </a>
                                        </div>
                                    </td>`
                    tableRow.classList.add('"hover:bg-blue-50"');
                    tableRow.setAttribute('data-entity-type', data.entity_type);
                    tableBody.appendChild(tableRow);
                }

                document.addEventListener("click", async function (event) {
                    if (event.target.closest(".delete-btn")) {
                        const row = event.target.closest("tr");
                        const entityType = row.getAttribute("data-entity-type");

                        const url = '/entity-types/delete';
                        const method = 'POST';
                        const obj = { entityType };

                        const data = await fetchApi(url, method, obj);
                        if (data) {
                            row.remove();
                            alert(data.message);
                        }
                    }    
                });
        </script>
    </body>