<%- include("./partials/head.ejs") %>
    </head>

    <body class="bg-white">
        <div class="samll-screen-bg fixed -z-10 flex h-screen w-screen md:hidden">
            <div class="h-screen flex-1" style="background-color: #FFF2F2;"></div>
            <div class="h-screen flex-1" style="background-color: #FEDEDF;"></div>
        </div>
        <div class="login-container lg:p-20 md:p-10 sm:px-5 sm:py-10">
            <div class="flex">
                <!-- left-side -->
                <div class="left-side w-full lg:w-1/3 md:w-1/3">
                    <div class="login-content p-5">
                        <div class="login-logo">
                            <img class="h-20 w-56 mb-12" src="<%- BASE_URL %>img/nmims-login-logo.png" alt="login-logo">
                        </div>
                        <div class="mb-8">
                            <div class="login-form-header mb-8">
                                <h4 class="login-heading">Login</h4>
                                <p class="login-instructions">Login using credentials provided by the University</p>
                            </div>

                            <div>
                                <div class="mb-4 w-full mb-8">
                                    <div class="lms-input-container">
                                        <input id="username" class="lms-input" type="text" placeholder="" value=""
                                            id="username">
                                        <label for="username" class="lms-placeholder">Username<span>*</span></label>
                                    </div>
                                </div>
                                <div class="mb-4 w-full mb-8">
                                    <div class="lms-input-container">
                                        <input id="password" class="lms-input" type="password" placeholder="" value=""
                                            id="password">
                                        <label for="password" class="lms-placeholder">Password<span>*</span></label>
                                    </div>
                                </div>
                                <button id="submit-btn"
                                    class="bg-red-600 hover:bg-red-700 text-white py-4 rounded-2xl w-full">Login
                                </button>

                            </div>
                        </div>

                        <div class="forgot-password text-center mb-8">
                            <a href="http://uat.svkm.ac.in/forgot-password-nmims"
                                class="text-label-md md:text-label-lg">Forgot
                                Password
                                &gt;</a>
                        </div>

                        <div class="more-info text-center">
                            <p class="mb-2">
                                For admission related or general queries kindly visit:
                            </p>
                            NMIMS : <a href="#"><u>www.nmims.edu/admissions</u></a>
                            <br>
                            SVKM : <a href="#"><u>svkm.ac.in</u></a>
                        </div>
                    </div>
                </div>
                <!-- right-side -->
                <!-- <div class="right-side pl-20 lg:w-2/3 md:w-2/3 hidden md:block lg:block"> -->

                <div class="right-side lg:px-28 md:px-14  lg:w-2/3 md:w-2/3 hidden md:block lg:block">
                    <div class="right-side-content">
                        <img src="<%- BASE_URL %>img/udms-login.png" alt="" class="right-side-img">
                    </div>
                </div>
            </div>
        </div>
        <script src="<%- BASE_URL %>js/fetch.js"></script>
        <script>
            document.getElementById('submit-btn').addEventListener('click', async () => {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                const url = '<%- BASE_URL %>authenticate';
                const method = 'POST';
                const obj = { username, password };

                const { error, data } = await fetchApi(url, method, obj);
                console.log('data ', JSON.stringify(data));

                if (error) {
                    if(error.status == 403){
                     alert('Invalid Credentials!');
                     return;
                    }else{
                     alert(error.message);
                     return;
                    }
                }

                if (data.status == 200) {
                    location.href = '<%- BASE_URL %>dashboard';
                } else {
                    alert(data.message);
                }
            });
        </script>

    </body>

    </html>